
@font-face {
    font-family: 'archiveregular';
    src: url('archive.eot');
    src: url('archive.eot?#iefix') format('embedded-opentype'),
         url('archive.woff') format('woff'),
         url('archive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('opensans-bold.eot');
    src: url('opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold.woff') format('woff'),
         url('opensans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('opensans-bolditalic.eot');
    src: url('opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('opensans-bolditalic.woff') format('woff'),
         url('opensans-bolditalic.ttf') format('truetype');
    font-weight: bold;
}




@font-face {
    font-family: 'OpenSansExtraboldRegular';
    src: url('opensans-extrabold.eot');
    src: url('opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('opensans-extrabold.woff') format('woff'),
         url('opensans-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('opensans-extrabolditalic.eot');
    src: url('opensans-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('opensans-extrabolditalic.woff') format('woff'),
         url('opensans-extrabolditalic.ttf') format('truetype');
    font-weight: normal;
}




@font-face {
    font-family: 'OpenSansItalic';
    src: url('opensans-italic.eot');
    src: url('opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('opensans-italic.woff') format('woff'),
         url('opensans-italic.ttf') format('truetype');
    font-weight: normal;
}




@font-face {
    font-family: 'OpenSansLightRegular';
    src: url('opensans-light.eot');
    src: url('opensans-light.eot?#iefix') format('embedded-opentype'),
         url('opensans-light.woff') format('woff'),
         url('opensans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('opensans-lightitalic.eot');
    src: url('opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('opensans-lightitalic.woff') format('woff'),
         url('opensans-lightitalic.ttf') format('truetype');
    font-weight: normal;
}




@font-face {
    font-family: 'OpenSansRegular';
    src: url('opensans-regular.eot');
    src: url('opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular.woff') format('woff'),
         url('opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSansSemiboldRegular';
    src: url('opensans-semibold.eot');
    src: url('opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold.woff') format('woff'),
         url('opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('opensans-semibolditalic.eot');
    src: url('opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibolditalic.woff') format('woff'),
         url('opensans-semibolditalic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('open_sans_condensed_light.eot');
    src: url('open_sans_condensed_light.eot?#iefix') format('embedded-opentype'),
         url('open_sans_condensed_light.woff') format('woff'),
         url('open_sans_condensed_light.ttf') format('truetype'),
         url('open_sans_condensed_light.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 2, 2014 */



@font-face {
    font-family: 'exo_2extra_light';
    src: url('exo2-extralight-webfont.eot');
    src: url('exo2-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-extralight-webfont.woff') format('woff'),
         url('exo2-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2extra_bold';
    src: url('exo2-extrabold-webfont.eot');
    src: url('exo2-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-extrabold-webfont.woff') format('woff'),
         url('exo2-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2bold_italic';
    src: url('exo2-bolditalic-webfont.eot');
    src: url('exo2-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-bolditalic-webfont.woff') format('woff'),
         url('exo2-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2bold';
    src: url('exo2-bold-webfont.eot');
    src: url('exo2-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-bold-webfont.woff') format('woff'),
         url('exo2-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2black_italic';
    src: url('exo2-blackitalic-webfont.eot');
    src: url('exo2-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-blackitalic-webfont.woff') format('woff'),
         url('exo2-blackitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2black';
    src: url('exo2-black-webfont.eot');
    src: url('exo2-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-black-webfont.woff') format('woff'),
         url('exo2-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2medium';
    src: url('exo2-medium-webfont.eot');
    src: url('exo2-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-medium-webfont.woff') format('woff'),
         url('exo2-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2light_italic';
    src: url('exo2-lightitalic-webfont.eot');
    src: url('exo2-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-lightitalic-webfont.woff') format('woff'),
         url('exo2-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2italic';
    src: url('exo2-italic-webfont.eot');
    src: url('exo2-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-italic-webfont.woff') format('woff'),
         url('exo2-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2light';
    src: url('exo2-light-webfont.eot');
    src: url('exo2-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-light-webfont.woff') format('woff'),
         url('exo2-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2extra_light_italic';
    src: url('exo2-extralightitalic-webfont.eot');
    src: url('exo2-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-extralightitalic-webfont.woff') format('woff'),
         url('exo2-extralightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2extra_bold_italic';
    src: url('exo2-extrabolditalic-webfont.eot');
    src: url('exo2-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-extrabolditalic-webfont.woff') format('woff'),
         url('exo2-extrabolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2thin';
    src: url('exo2-thin-webfont.eot');
    src: url('exo2-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-thin-webfont.woff') format('woff'),
         url('exo2-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2semi_bold';
    src: url('exo2-semibold-webfont.eot');
    src: url('exo2-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-semibold-webfont.woff') format('woff'),
         url('exo2-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2regular';
    src: url('exo2-regular-webfont.eot');
    src: url('exo2-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-regular-webfont.woff') format('woff'),
         url('exo2-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2medium_italic';
    src: url('exo2-mediumitalic-webfont.eot');
    src: url('exo2-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-mediumitalic-webfont.woff') format('woff'),
         url('exo2-mediumitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2thin_italic';
    src: url('exo2-thinitalic-webfont.eot');
    src: url('exo2-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-thinitalic-webfont.woff') format('woff'),
         url('exo2-thinitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2semi_bold_italic';
    src: url('exo2-semibolditalic-webfont.eot');
    src: url('exo2-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-semibolditalic-webfont.woff') format('woff'),
         url('exo2-semibolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}